body{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

header{
	color: #E80C94;
	font-family: 'Montserrat', sans-serif;
	font-size: 90;
}

.navbg{
	background: white;
}

.navtxt{
	color: #E80C94;	
}

.nav{
	box-shadow: -2px -4px 9px;


}
.tjejlogo{
	width: 100px;
}

.knutlogo{
	width: 70px;
}

.laddaned {
	background-color: #E80C94; /*På denna byter man färgen på material-knapparna.*/
	color: white;
}

.infotxt{
	color: black;
}

.infobg{
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05); /*Här kan man ändra färgen på de olika info-divvarna*/
	margin: 10px;
	padding: 15px;
}

.mentor{
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05);
	padding: 15px;
}

.cardbg{
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05);
	color: black;
}



.txtlink{
	color: black;
}

.spel{
	
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05);
	padding: 20px;
}

.btnspel1{
	background-color: black;
	color: white;
}
.btnspel2{
	background-color: black;
	color: white;
}
.btnspel3{
	background-color: black;
	color: white;
}

.kartabg{
	background-color: lightgrey;
	box-shadow: 10px;
}
.btnlink{
	background-color: black; /*På denna byter man färgen på Länk-knapparna*/
	color: white;
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05);
}

.karta{
	margin-left: 10px;
}

.hittatxt{
	color: black;
	margin-left: 20px;
	font-family: Verdana;
	padding-left: 100px;
}


.kontaktbg{
	background-color: #E80C94;
}

.jumbo{
	height: 600px;
	box-shadow: 0 1px 50px rgba(0, 0, 0, .05);
	padding: 20px;

}
.frippesize{
	height: 300px;
	margin: center;
}

.footer{
	background-color: #F3F5F4;
	text-align: center;
	color: #888;
	padding: 20px;
}
.facebook{
	width: 40px;
}

.instagram{
	width: 50px;
	
}

.twitter{
	width: 40px;
}

p:hover{
	text-decoration: underline;
}