.navbg{
	background: white;
}


header{
	
	color: #FF0033;
	font-family: Verdana;
	font-size: 90;
}


.navtxt{
	color: #FF0033;

}
.tjejlogo{
	width: 100px;
}

.knutlogo{
	width: 70px;

}

.laddaned {
	background-color: #FF0033;
	color: white;
	box-shadow: 10;
}
.btnint{
	background-color: #FF0033;
	color: white;
}

.kartabg{
	background-color: lightgrey;
	box-shadow: 10px;


}

.karta{
	margin-left: 10px;
	}

.hittatxt{
	color: black;
	margin-left: 20px;
	font-family: verdana;
}
