.navbg{
	background: white;
}


header{
	
	color: #FF0033;
	font-family: Verdana;
	font-size: 90;
}

.navtxt{
	color: #FF0033;

}
.tjejlogo{
	width: 100px;
}

.knutlogo{
	width: 70px;

}

.laddaned {
	background-color: #FF0033;
	color: white;
}
.btnint{
	background-color: #FF0033;
	color: white;
}
